/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


// Custom.scss
.entire-blocks-section {
	*, ::after, ::before {
		box-sizing: border-box;
	}
	width: 100%;
	max-width: 100% !important;

	.list-item-wrap {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		.list-items {
			display: flex;
			flex-wrap: wrap;
			margin-right: -10px;
			margin-left: -10px;
		}

		.list-item {
			flex: 0 0 33.333333%;
			/*max-width: 33.333333%;*/
			position: relative;
			width: 100%;
			min-height: 1px;
			padding: 10px;
			overflow-wrap: anywhere;
		}
		.entire-blocks-box-shadow {
			box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
		}

		.entire-blocks-card{
			position: relative;
			display: flex;
			flex-direction: column;
			border: 1px solid rgba(0,0,0,.125);
			border-radius: 0.25rem;
			height: 100%;
		}


		.list-item-img {
			float: left;
			width: 100%;
			height: auto;

			img {
				border-radius: 0.25rem 0.25rem 0 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}

		.list-item-desc {
			padding: 15px 15px;
			display: block;
			overflow: hidden;

			h3{
				margin: 0;
			}
		}
	}

	.pagination-wrap{
		margin-top: 15px;
	}

	.page-numbers {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		li{
			margin: 0 5px 0 0;
		}

		.page-numbers {
			display: inline-block;
			padding: 5px 15px;
			text-decoration: none;
		}
		.page-numbers:hover{
			opacity: 0.9;
		}
		.page-numbers.current{
			padding: 4px 15px;
		}
	}

}

@media (max-width: 639px) {
	.list-items {
		flex-direction: column;
		width: 100%;
	}
}